<div>
    <div *ngIf="!heroSelected">
      <app-heroes (heroSelected)="selectHero($event)"></app-heroes>
      <button (click)="verifyHero()">Verify Hero</button>
    </div>
  
    <div *ngIf="heroSelected && !villainSelected">
      <app-villains (villainSelected)="selectVillain($event)"></app-villains>
      <button (click)="verifyVillain()">Verify Villain</button>
    </div>
  
    <div *ngIf="heroSelected && villainSelected" class="battle">
        <h1>Battle Results</h1>
        <img [src]="selectedHero.images.sm" alt="">
        <img [src]="selectedVillain.images.sm" alt="">
    </div>
  </div>
  