<div *ngIf="heroes.length > 0">
  <carousel [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="singleSlideOffset"
            [noWrap]="noWrap"
            [interval]="0"
            [startFromIndex]="5"
            >
    <slide *ngFor="let hero of heroes; let index=index">
      <img [src]="hero.images.sm" alt="image slide" style="display: block; width: 70%;">
      <div class="carousel-caption">
        <h4>{{ hero.name }}</h4>
        <button (click)="selectHero(hero)">Select</button>
      </div>
    </slide>
  </carousel>
</div>
