.custom-slide {
    position: relative;
    width: 200px;
    height: 250px;
    background-color: black;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
}
.image {
    display: block;
    width: 80%;
}
.image:hover {
    border: 2px solid #007bff;
}