<ng-container *ngIf="villains.length > 0">
  <div>
      <carousel [itemsPerSlide]="itemsPerSlide"
                [singleSlideOffset]="singleSlideOffset"
                [noWrap]="noWrap"
                [interval]="0"
                [startFromIndex]="5"
                >
        <slide *ngFor="let villain of villains; let index=index" class="custom-slide">
          <div class="content" (click)="selectVillain(villain)">
            <img class="image" [src]="villain.images.sm" alt="image slide">
            <h4 class="carousel-caption">{{ villain.name }}</h4>
          </div>
        </slide>
      </carousel>
    </div>
</ng-container>