 .banner {
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    align-items: center;
    color: rgb(154, 146, 144);
}

.banner::after {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/superhero-outfits-in-cave.jpg");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} 